body{background-color: #fff00f;}
h1{
    color: 0000cc;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
p{
    color: #555555;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.resaltado{
    color: #000000;
    background-color: #ffff00;
    font-style: italic;
}